<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Wdl -->
      <package
            uri="http://WDL/1.0"
            class="Wdl.WdlPackage"
            genModel="model/Wdl.genmodel"/>
   </extension>

</plugin>
